a.youloop-button {
  text-align: center;
}

a.youloop-button svg {
  margin-bottom: 2px;
  width: 52%;
  vertical-align: middle;
  fill: #fff;
  transition-duration: 0.35s;
}

a.youloop-button.active svg {
  fill: #f12b24;
  transform: rotate(90deg);
}
